@page "/produtos"
@rendermode InteractiveServer

<PageTitle>Produtos</PageTitle>

<h1>Produtos</h1>

<a class="btn btn-primary text-center" href="produtosadd">
    <i class="fas fa-plus fa-lg justify-content-center fs-5 mt-1"> Adicionar</i>
</a>
<div class="mx-auto mt-5">
    <table class="table table-striped table-hover">
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Opções</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>10</td>
            <td>R$ 400,00</td>
            <td></td>
        </tr>
</table>
</div>