@inherits LayoutComponentBase
@using AutoRepairShop.Components.Layout
@using AutoRepairShop.Components.Pages
@using Microsoft.AspNetCore.Identity
@inject NavigationManager navManager;
@inject UserManager<IdentityUser> userManager;
<div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu/>
                </div>
                <main>
                    <div class="top-row px-4">
                        Olá, @context?.User?.Identity?.Name
                        <UserLogged/>
                    </div>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>                    
            </Authorized>
            <NotAuthorized>
                <div class="row col-md-12 d-flex justify-content-center ">
                    <div class="col-md-4 d-flex loginDiv border">
                        <Login/>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code{
    private void Test(){
        Console.WriteLine("d");
    }
}