@page "/clientes"
@rendermode InteractiveServer

<PageTitle>Clientes</PageTitle>

<h1>Clientes</h1>

<a class="btn btn-primary text-center" href="clientesadd">
    <i class="fas fa-plus fa-lg justify-content-center fs-5 mt-1"> Adicionar</i>
</a>
<div class="mx-auto mt-5">
    <table class="table table-striped table-hover">
        <tr>
            <th>Nome</th>
            <th>Documento</th>
            <th>Contato</th>
            <th>Opções</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td></td>
        </tr>
</table>
</div>