@page "/clientesadd"
@rendermode InteractiveServer

<PageTitle>Cadastro de Clientes</PageTitle>

<h1>Cadastro de Clientes</h1>

<div>
    <button class="btn btn-secondary">
        <i class="fas fa-arrow-left fa-lg text-center justify-content-center fs-5 mt-1"> Voltar</i>
    </button>
    <button class="btn btn-primary">
        <i class="fas fa-save fa-lg text-center justify-content-center fs-5 mt-1"> Adicionar</i>
    </button>
</div>

<div class="border border-2 border-dark mt-5">
  <div class="m-5">
    <label for="email" class="form-label">Nome:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  <div class="m-5">
    <label for="pwd" class="form-label">Documento:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>
  <div class="m-5">
    <label for="pwd" class="form-label">Telefone:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>
</div>
