@page "/"
@using AutoRepairShop.Components.Services;
@inject ClientService clientService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="row col-md-12 d-md-inline-flex">
  <a href="clientes" class="col-md-3 d-flex justify-content-center bg-primary mx-3  mb-3">
      <div class="card bg-primary">
        <div class="card-body">
            <h5 class="card-title text-white">Clientes</h5>
            <span class="fas fa-users fa-lg me-3 text-white" aria-hidden="true"></span>            
        </div>
      </div>
   </a>
  <a href="produtos" class="col-md-3 d-flex justify-content-center bg-primary mx-3 mb-3 h-50">
    <div class="card bg-primary">
        <div class="card-body">
            <h5 class="card-title text-white">Produtos</h5>
            <span class="fas fa-box fa-lg me-3 text-white" aria-hidden="true"></span>            
        </div>
    </div>
  </a>
  <a href="veiculos" class="col-md-3 d-flex justify-content-center bg-primary mx-3 mb-3">
    <div class="card bg-primary">
        <div class="card-body">
            <h5 class="card-title text-white">Veículos</h5>
            <span class="fas fa-car-side fa-lg me-3 text-white" aria-hidden="true"></span>
        </div>
    </div>
  </a>
  <a href="ordemservico" class="col-md-3 d-flex justify-content-center bg-primary mx-3 mb-3">
        <div class="card bg-primary">
            <div class="card-body">
                <h5 class="card-title text-white">Ordem Serviço</h5>
                <span class="fas fa-clipboard-list fa-lg me-3 text-white" aria-hidden="true"></span>
            </div>
        </div>
  </a>
</div> 
