@page "/"
@using AutoRepairShop.Components.Services;
@inject ClientService clientService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        Test();
    }
    private void Test(){
        clientService.GetAll();
    }
}
