@page "/login"
@using AutoRepairShop.Components.Services;
@using AutoRepairShop.Components.Pages
@using Microsoft.AspNetCore.Identity;
@inject LoginService  loginService;
@inject NavigationManager navManager;
@inject SignInManager<IdentityUser> signInManager;
@rendermode InteractiveServer

<div class="card bg-info">
        <h4 class="loginTitle">Login</h4>
        <div class="card-body mt-0">
            <input class="form-control mb-1" placeholder="Usuário" @bind-value="@username"/>
            <input class="form-control" placeholder="Senha" type="password" @bind-value="@password"/>
        </div>
        <div class="loginButton">
            <button class="btn btn-primary" type="submit" @onclick = "(() => ValidateLogin())">Entrar</button>
        </div>
</div>
@code {

    public string? username { get; set; }
    public string? password { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }

    public async  void ValidateLogin()
    {
        var canLogin = await signInManager.PasswordSignInAsync(username,password,false,false);    
    }
}