@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using AutoRepairShop.Components.Pages
@inject UserManager<IdentityUser> userManager;
@inject SignInManager<IdentityUser> signInManager;
@inject NavigationManager navManager;
@rendermode InteractiveServer
<div class="dropdown ms-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false" @onclick = "(() => ChangeVisibility())">
        <i class="fas fa-cog"> Opções</i>
    </button>
    <div class="dropdown-menu me-5 @visibility" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item ms-0" href="/usuariosadd/@id"><i class="fas fa-pencil-alt"> Editar</i></a>
        <a class="dropdown-item ms-0" href="logout"><i class="fas fa-sign-out-alt" >Logout</i></a>
    </div>
</div>

@code{

    [Parameter]
    public string? id { get; set; }
    public string visibility = "d-none";

    private void ChangeVisibility()
    {
        if(visibility == "d-none")
            visibility = "d-grid";
        else
            visibility  = "d-none";
    }
}