@page "/ordemservico"
@using AutoRepairShop.Components.Services
@using AutoRepairShop.DAL.Models
@inject ServiceOrderService serviceOrderService
@rendermode InteractiveServer

<PageTitle>Ordem Serviço</PageTitle>

<h1>Ordem Serviço</h1>

<a class="btn btn-primary text-center" href="servicesorderadd">
    <i class="fas fa-plus fa-lg justify-content-center fs-5 mt-1"> Adicionar</i>
</a>
<div class="mt-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="fs-5 text-center">Número</th>
                <th class="fs-5 text-center">Veículo</th>
                <th class="fs-5 text-center">Autorizado</th>
                <th class="fs-5 text-center">Opções</th>
            </tr>
        </thead>
        <tbody>
            @if(serviceOrders is not null){
                foreach(var serviceOrder in serviceOrders)
                {   <tr>
                        <td class="fs-5 text-center">@serviceOrder.OrderNumber</td>
                        <td class="fs-5 text-center">@serviceOrder.Value</td>
                        <td class="fs-5 text-center">@serviceOrder.Authorized</td>
                        <td class="fs-5 text-center"> 
                            <div class="divBotoes">
                                <a title="Editar" class="btn btn-secondary text-right float-right" role="button" data-bs-toggle="button" >
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a title="Excluir" class="btn btn-danger text-right float-right" role="button" data-bs-toggle="button">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@code{

    public List<ServiceOrder>? serviceOrders { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        serviceOrders = serviceOrderService.GetAll().ToList();
        await Task.CompletedTask;
    }
}