@page "/usuarios"
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;
@inject NavigationManager navManager;
@using AutoRepairShop.Components.Services;
@inject UserService  userService;
@rendermode InteractiveServer

<div class="container-fluid ps-0">
    <h3>Usuários</h3>
</div>
<div>
    <a href="usuariosadd" class="btn btn-primary active mb-3 text-center" role="button" data-bs-toggle="button" aria-pressed="true">
        <i class="fas fa-plus"> Adicionar</i>
    </a>
</div>
<div class="container-fluid">
    <div class="row col-md-12 d-md-inline-flex">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>
                        <div class="divBotoes d-flex justify-content-end">
                            Opções
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (users is not null)
                {
                    foreach(var item in users)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>
                                <div class="divBotoes d-flex justify-content-end">
                                    <a title="Editar" class="btn btn-secondary text-center me-2" role="button" data-bs-toggle="button" @onclick="(() => Edit(item.Id))">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a title="Excluir" class="btn btn-danger text-center" role="button" data-bs-toggle="button">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    List<IdentityUser>? users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        users = userService.GetAll().ToList();
    }

    public void showUser(string userId)
    {
        var id = Guid.ParseExact(userId,"D");
        navManager.NavigateTo($"useradd/{id}");
    }

    public async Task deleteStudent(string id)
    {
        //await UserService.DeleteUserAsync(DbFactory, id);
        navManager.NavigateTo($"users", true);
    } 

    public void Edit(string id)
    {
        var editId = Guid.ParseExact(id,"D");
        navManager.NavigateTo($"/usuariosadd/{editId}");
    }
}